/** {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container {
    display: inline-block;
    width: 40%;
    margin: 5px;
    vertical-align: top;
}

#timer {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px; 
    text-align: center;
    margin-bottom: 5px; 
    margin-top: 5px; 
}

#time-display {
    font-size: 5em;
    font-weight: bolder;
}

